.main-container {
  height: 75vh;
  overflow: auto;
  position: relative;
  width: 100dvw;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: #ced9fe;
  }

  &::-webkit-scrollbar-thumb {
    background: #655bf3;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #564bf1;
  }
}

/* Select Node */
.placement-1 {
  border-bottom: 2px solid #655bf3;
  height: 10dvh;
  left: auto;
  position: absolute;
  right: auto;
  top: 0;
  width: 75%;
}

.dropdown-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.dropdown {
  align-items: center;
  border: 2px solid black;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  height: 5vh;
  text-align: center;
  width: 12dvw;
}

.node {
  align-items: center;
  cursor: default;
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  justify-content: center;
}

/* Search Transaction & Add Transaction */

.placement-2 {
  border-bottom: 2px solid #655bf3;
  display: flex;
  height: 25dvh;
  position: absolute;
  top: 10dvh;
  left: auto;
  right: auto;
  width: 75%;
}

.trx-search-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
}

/* Search Transaction */

.search-trx-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  right: 10vw;
  width: 45dvw;
}

.search-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.search-trx-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.search-trx-form input {
  font-size: 1rem;
  height: 1.5rem;
  padding-left: 0.5rem;
  width: 20dvw;
}

.submit-btn {
  background-color: #655bf3;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 1rem;
  padding: 0.5rem;
  width: 3.5dvw;
}

.transaction-details h2 {
  font-weight: bold;
}

/* Make a Transaction */
.make-trx-container {
  align-items: center;
  border-left: 2px solid #655bf3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45dvw;
}

.trx-form {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  width: 25dvw;
}

.make-trx-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.trx-form .form-control {
  margin: 0.4rem;
  width: 22dvw;
}

.trx-form .form-control input {
  font-size: 1rem;
  padding-left: 0.5rem;
}

.send-btn {
  align-self: flex-end;
  background-color: #655bf3;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 1rem;
  padding: 0.5rem;
  width: 7.8dvw;
}

/* Pending Transactions */
.placement-3 {
  height: fit-content;
  left: auto;
  margin-bottom: 3rem;
  position: absolute;
  right: auto;
  top: 36dvh;
  width: 75%;
}

.pending-transactions-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: #bdcbfb;
  }

  &::-webkit-scrollbar-thumb {
    background: #655bf3;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #564bf1;
  }
}

.mine-btn {
  background-color: #655bf3;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 8dvw;
}

.pending-title {
  font-weight: bold;
}

.pending-transactions {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.pending-trx {
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 0.5rem;
  width: fit-content;
}

/* Blockchain */
.chain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  margin-top: 2rem;
  overflow-x: auto;
  border-top: 2px solid #655bf3;
  width: 100%;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: #bcccff;
  }

  &::-webkit-scrollbar-thumb {
    background: #655bf3;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #5146f3;
  }
}

.block {
  border: 1px solid black;
  border-radius: 25px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 3rem;
}

.block-container {
  align-items: flex-start;

  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0.5rem;
  width: fit-content;
}

.block-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.hash,
.lastHash {
  width: 80%;
  word-wrap: break-word;
}
