header {
  background-color: #655bf3;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15dvh;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
}

@media screen and (max-height: 550px) {
  header {
    height: 5rem;
  }
}

.first-row-wrapper {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 10rem;
  width: 95dvw;
}

.logo-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  width: 6rem;
}

.title {
  font-size: 2rem;
}

.logo svg {
  width: 3rem;
  height: 3rem;
}

.navbar {
  position: absolute;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  bottom: 0;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 90dvw;
}

.navbar ul li {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}
