header {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  height: 12dvh;
  width: 100dvw;
}
main {
  background-color: beige;
  display: flex;
  flex-direction: column;
  height: 76dvh;
  padding-top: 3rem;
  width: 100dvw;
}
footer {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  height: 12dvh;
  width: 100dvw;
}
